@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.9646 0.0096 273.3564);
  --foreground: oklch(0.21 0.03 272);
  --card: oklch(0.982 0.005 268);
  --card-foreground: oklch(0.21 0.03 272);
  --popover: oklch(0.982 0.005 268);
  --popover-foreground: oklch(0.21 0.03 272);
  --primary: oklch(0.34 0.07 250);
  --primary-foreground: oklch(0.98 0.005 260);
  --secondary: oklch(0.89 0.028 266);
  --secondary-foreground: oklch(0.25 0.05 266);
  --muted: oklch(0.94 0.006 265);
  --muted-foreground: oklch(0.45 0.03 265);
  --accent: oklch(0.9 0.03 262);
  --accent-foreground: oklch(0.22 0.03 262);
  --destructive: oklch(0.62 0.18 350);
  --destructive-foreground: oklch(0.98 0.005 260);
  --border: oklch(0.835 0.022 264);
  --input: oklch(0.87 0.018 264);
  --ring: oklch(0.34 0.07 250);
  --chart-1: oklch(0.87 0.1 276);
  --chart-2: oklch(0.89 0.07 250);
  --chart-3: oklch(0.92 0.1 206);
  --chart-4: oklch(0.9 0.11 162);
  --chart-5: oklch(0.89 0.14 330);
  --sidebar: oklch(0.982 0.005 268);
  --sidebar-foreground: oklch(0.21 0.03 272);
  --sidebar-primary: oklch(0.34 0.07 250);
  --sidebar-primary-foreground: oklch(0.98 0.005 260);
  --sidebar-accent: oklch(0.9 0.03 262);
  --sidebar-accent-foreground: oklch(0.21 0.03 272);
  --sidebar-border: oklch(0.87 0.018 264);
  --sidebar-ring: oklch(0.34 0.07 250);

  --radius: 0.5rem;

  --shadow-x: 0px;
  --shadow-y: 4px;
  --shadow-blur: 16px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.15;
  --shadow-color: #2b3b5b;
  --shadow-2xs: 0px 4px 16px 0px hsl(220 35.8209% 26.2745% / 0.07);
  --shadow-xs: 0px 4px 16px 0px hsl(220 35.8209% 26.2745% / 0.07);
  --shadow-sm: 0px 4px 16px 0px hsl(220 35.8209% 26.2745% / 0.15),
    0px 1px 2px -1px hsl(220 35.8209% 26.2745% / 0.15);
  --shadow: 0px 4px 16px 0px hsl(220 35.8209% 26.2745% / 0.15),
    0px 1px 2px -1px hsl(220 35.8209% 26.2745% / 0.15);
  --shadow-md: 0px 4px 16px 0px hsl(220 35.8209% 26.2745% / 0.15),
    0px 2px 4px -1px hsl(220 35.8209% 26.2745% / 0.15);
  --shadow-lg: 0px 4px 16px 0px hsl(220 35.8209% 26.2745% / 0.15),
    0px 4px 6px -1px hsl(220 35.8209% 26.2745% / 0.15);
  --shadow-xl: 0px 4px 16px 0px hsl(220 35.8209% 26.2745% / 0.15),
    0px 8px 10px -1px hsl(220 35.8209% 26.2745% / 0.15);
  --shadow-2xl: 0px 4px 16px 0px hsl(220 35.8209% 26.2745% / 0.38);

  --tracking-normal: 0em;

  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.1892 0.0233 273.0291);
  --foreground: oklch(0.9726 0.0086 264.5223);
  --card: oklch(0.2513 0.0332 261.5998);
  --card-foreground: oklch(0.9726 0.0086 264.5223);
  --popover: oklch(0.2513 0.0332 261.5998);
  --popover-foreground: oklch(0.9726 0.0086 264.5223);
  --primary: oklch(0.8761 0.0629 250.7253);
  --primary-foreground: oklch(0.1892 0.0233 273.0291);
  --secondary: oklch(0.3472 0.0696 266.5303);
  --secondary-foreground: oklch(0.9182 0.0391 266.498);
  --muted: oklch(0.3038 0.045 263.8);
  --muted-foreground: oklch(0.7656 0.0352 265.1679);
  --accent: oklch(0.3817 0.0737 262.3937);
  --accent-foreground: oklch(0.9726 0.0086 264.5223);
  --destructive: oklch(0.7229 0.2017 352.2643);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.3614 0.0538 264.1368);
  --input: oklch(0.3614 0.0538 264.1368);
  --ring: oklch(0.8761 0.0629 250.7253);
  --chart-1: oklch(0.7774 0.1138 276.26);
  --chart-2: oklch(0.7205 0.0825 250.1244);
  --chart-3: oklch(0.8847 0.1166 206.1974);
  --chart-4: oklch(0.7391 0.1315 162.107);
  --chart-5: oklch(0.7984 0.1861 330.7631);
  --sidebar: oklch(0.2513 0.0332 261.5998);
  --sidebar-foreground: oklch(0.9726 0.0086 264.5223);
  --sidebar-primary: oklch(0.8761 0.0629 250.7253);
  --sidebar-primary-foreground: oklch(0.1892 0.0233 273.0291);
  --sidebar-accent: oklch(0.3817 0.0737 262.3937);
  --sidebar-accent-foreground: oklch(0.9726 0.0086 264.5223);
  --sidebar-border: oklch(0.3614 0.0538 264.1368);
  --sidebar-ring: oklch(0.8761 0.0629 250.7253);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
