# For running local stage configuration only
services:
  strapi-db:
    container_name: wms_strapi_db
    restart: always
    env_file: backend/.env
    image: postgres:17-alpine
    volumes:
      - strapi-data:/var/lib/postgresql/data/

  strapi:
    container_name: wms_strapi
    build:
      context: backend/
      dockerfile: Dockerfile
    restart: always
    env_file: backend/.env
    depends_on:
      - strapi-db
    volumes:
      - strapi-uploads:/opt/app/public/uploads/

  front:
    container_name: wms_front
    build:
      context: frontend/
      dockerfile: Dockerfile
    restart: always
    depends_on:
      - strapi

  nginx:
    container_name: wms_nginx
    restart: always
    image: nginx:1.28-alpine
    env_file: .env
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/templates/default.conf.template
      - ./nginx/allowed-ips.conf:/etc/nginx/allowed-ips.conf
      - ./nginx/site.crt:/etc/letsencrypt/live/${NGINX_SERVER_NAME}/fullchain.pem
      - ./nginx/site.key:/etc/letsencrypt/live/${NGINX_SERVER_NAME}/privkey.pem
      - ./certbot/conf:/etc/letsencrypt
      - ./certbot/www:/var/www/certbot
      - strapi-uploads:/var/data/strapi/uploads
    depends_on:
      - front
    ports:
      - "80:80"
      - "443:443"


volumes:
  strapi-data:
  strapi-uploads:
