services:
  strapi-db:
    container_name: wms_strapi_db
    restart: always
    env_file: backend/.env
    image: postgres:17-alpine
    volumes:
      - strapi-data:/var/lib/postgresql/data/
    ports:
      - "5432:5432"

volumes:
  strapi-data:
